<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
  </div>

  <hr>

  <div>
    <h2>Add a new post</h2>

    <form action="/insert_post" method="post">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title">
      </div>

      <div>
        <label for="body">Body</label>
        <textarea name="body" id="body" rows="3"></textarea>
      </div>

      <div>
        <label for="expiration">Expires on</label>
        <input type="date" id="expiration" name="expiration">
      </div>

      <input type="hidden" name="board_id" value="<%= @the_board.id %>">

      <button>Add post</button>
    </form>
  </div>
</div>

<hr>

<div>
  <h2>Active posts</h2>

  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>
    </tr>

    <% @active_posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.posted %></td>
        <td><%= post.expiration %></td>
      </tr>
    <%end%>
  </table>
</div>

<div>
  <h2>Expired posts</h2>

  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expired on</th>
    </tr>

    <% @expired_posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.posted %></td>
        <td><%= post.expiration %></td>
      </tr>
    <%end%>
  </table>
</div>
